@tailwind base;
@tailwind components;
@tailwind utilities;

/* side navigation when xl screen */
.sidenav {
  height: 100%;
  width: 16%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}

/* center overflown text */
.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

/*                                     min     norm  max   */
body              { font-size: min(max(0.8rem, 5vw), 20px); }
.expense          { font-size: min(max(0.8rem, 5vw), 16px); }
.expense-category { font-size: min(max(0.8rem, 6vw), 20px); }
.footer           { font-size: min(max(0.8rem, 6vw), 22px); }
.header           { font-size: min(max(0.8rem, 8vw), 28px); }
.sidebar          { font-size: min(max(0.8rem, 7vw), 20px); }
